/* Reset some basic styles & set the font*/
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Merriwather', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Modern the font we imported */
    margin: 0;
    /* A soft gradient background */
    background: linear-gradient(120deg, #a1c4fd, #FDE8D5);

    /* A trick to center the login 'card' */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* 1. The Main Login Card*/
.login-container {
    background: #a9a9a9;
    width: 380px;
    padding: 30px 40px;

    /* Key to Beuty */
    border-radius: 12px;

    /* Key to beuty no 2 */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);

    text-align: center;
}

/* 2. The Heading */
.login-container h2 {
    margin-top: 0;
    margin-bottom: 25px;
    color: #333;
}

/* 3. Input Group */
.input-group {
    margin-bottom: 20px;
    text-align: left; /* Align the label */
}

.input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    color: #555
}

/*  4. The Input Box */
.input-group input {
    width: 100%; /* Full width */
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px; /* Rounded corners too */
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}

/* 5. THE LOGIN BUTTON */
button {
    width: 100%;
    padding: 12px;
    border: none; /* Modern button dont have a border */
    border-radius: 8px;

    /* Key To Beauty: Gradient color for cursor */
    background: linear-gradient(90deg, #FDE8D5, #F0FEF2);

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer; /* Change Cursor */

    /* Key to beauty : Smooth trans */
    transition: all 0.3s ease;
}

/* EFFECT WHEN THE CURSOR IS OVER THE BUTTON */
button:hover {
    /* Darkens slightly on on Hover */
    background: linear-gradient(90 deg, #0056b3, #004085);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 6. The Link at the Bottom */
.login-container p {
    margin-top: 25px;
    color: #777;
    font-size: 14px;
}

.login-container p a {
    color: #000000;
    text-decoration: none;
}

.login-container p a:hover {
    text-decoration: underline;
}
